@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
     background-image: linear-gradient(to right, #BF9075, #F2CCB6);
     font-family: cursive;
}


main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
  color: #261201;
  text-align: center;
}

h2{
  color: #59432F;
}

p {
    
    text-align: justify;
}

